#container {
	margin: 2em;
	padding: 2em;
	border: thin black solid;
	width: 900px;
}

.header {
	text-align: center;
	font-size: 17pt;
	font-weight: bold;
}

.group {
	border: thin black solid;
	padding: 1em;
	margin: 1em;
}

.group label {
	font-size: 14pt;
	margin: 1em;
	background-color: transparent;
}

.input label {
	font-size: 12pt;
	padding: 0em;
	background-color: none;
}


.select {
	border: thin black solid;
	padding: 1em;
	margin: 1em;
}

.markup {
	padding: 1em;
	margin: 1em;
	background-color: lightGray;
}

.signature {
	font-style: italic;
	border-bottom: 2px solid black;
	margin: 2em;
	width: 400px;
}

#form-iframe {
	width: 8.5in;
	height: 11in;
}
#form-svg {
	width: 8.5in;
	height: 11in;
	position: relative;
} #form-svg input {
	position: absolute;
}

.field {
	fill: green;
}

@media print {
	body {
		margin: 0px;
		padding: 0px;
	}
	#container {
		margin: 0px;
		padding: 0px;
		border: 0px;
		width: 100%;
	}
	.header {
		display: none;
	}
	form {
		display: none;
	}
	#form-layout {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
	}
	#form-svg {
		width: 100%;
	}
	#form-svg input {
		display: none !important;
	}
	
}